body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #004aad;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('../images/academy.jpg') no-repeat center center/cover;
    height: 400px;
    color: deep blue;
    text-align: center;
    padding-top: 150px;
}

.intro {
    padding: 50px;
    text-align: center;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}